{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Winter Mogotsi - Mthimkhulu Properties</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/f8dced6eec.js" crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'mthimkhulu/index.css' %}">
</head>
<body>
    <header>
        <nav>
            <img src="{% static 'mthimkhulu/images/mthimkhulu-logo.png' %}" class="nav-logo p-2">
        </nav>
        <div class="header-content">
            <div class="container-xxl header-container p-0 m-0">
                <div class="card-avatar ms-2">
                    <img src="{% static 'mthimkhulu/images/musa-hadebe.png' %}" class="card-avatar-img">
                </div>
                <div class="card-details p-2">
                    <h2 class="card-name">Musa Hadebe</h2>
                    <h4 class="card-title">Master Property Practitioner</h4>
                </div>
            </div>
        </div>
    </header>
    <section id="card-details">
        <div class="container-xxl details-container">
            <div class="info-block p-2">
                <i class="fa-solid fa-phone info-icon mx-2 p-2"></i>
                <p class="info-phone m-0">+27 81 501 2077</p>
            </div>
            <div class="info-block p-2">
                <i class="fa-solid fa-envelope info-icon mx-2 p-2"></i>
                <p class="info-email m-0">musa@mthimkhuluproperty.co.za</p>
            </div>
        </div>
    </section>
    <section id="card-interactions">
        <div class="container-xxl interactions-container">
            <div class="row interactions-row justify-content-between g-2 p-2">
                <a href="tel:0657141053" class="card-button call-button col-6 py-2">Call Me!</a>
                <a href="mailto:musa@mthimkhuluproperty.co.za" class="card-button mail-button col-6 py-2">Mail Me!</a>
                <a href="https://wa.me/0657141053" class="card-button whatsapp-button col-6 py-2">My WhatsApp</a>
                <a href="https://web.facebook.com/MthimkhuluProperty" class="card-button facebook-button col-6 py-2">Facebook</a>
                <a href="https://www.mthimkhuluproperty.co.za/AgentDetails.aspx?AgentName=Musa%20Hadebe&propstyp=all" class="card-button property-button col-12 py-2">See my properties!</a>
            </div>
        </div>
    </section>
    <section id="share-bar">
        <div class="container-xxl share-container text-center">
            <h4 class="share-title mt-2">Share this card</h4>
            <div class="row share-row mx-2">
                <a href="https://twitter.com/share?url='http://localhost'&text=Musa Hadebe has shared his business card with you!">
                    <i class="fa-brands fa-square-twitter share-icon"></i>
                </a>
                <a href="https://twitter.com/share?url='http://localhost'&text=Musa Hadebe has shared his business card with you!">
                    <i class="fa-brands fa-square-whatsapp share-icon"></i>
                </a>
                <a href="https://twitter.com/share?url='http://localhost'&text=Musa Hadebe has shared his business card with you!">
                    <i class="fa-solid fa-envelope share-icon"></i>
                </a>
                <a href="https://www.facebook.com/sharer/sharer.php?u=127.0.0.1">
                    <i class="fa-brands fa-square-facebook share-icon"></i>
                </a>
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>